@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Poppins&family=Press+Start+2P&display=swap');
@import "tailwindcss";

body {
  font-family: "Jura", sans-serif;
  font-weight: 400;
  /* font-style: normal; */
}

/* Smooth Glass Scrollbar */
.glass-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.glass-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
}

.glass-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  backdrop-filter: blur(4px);
}

.glass-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.glass-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

/* Remove default number input arrows (Chrome, Edge, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* Custom stylish spinner buttons */
.custom-number {
  position: relative;
  padding-right: 2.5rem; /* space for spinner buttons */
}

.custom-number-controls {
  position: absolute;
  right: 6px;
  top: 48%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.custom-number-btn {
  /* background: #4c4c4c; */
  border-radius: 4px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.15s;
}

/* .custom-number-btn:hover {
  background: #6366f1; 
} */


@layer utilities {
  @keyframes dropdown {
    0% {
      opacity: 0;
      transform: translateY(6px) scale(0.95);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .animate-dropdown {
    animation: dropdown 0.15s ease-out forwards;
  }
}
